html,
body{
    min-width: 660px ;
}
.wrapper{
    overflow-x: hidden;
}

.wrapper .left
{
    background-color :#fff7ec;
    height: 50%;
  }
    


.wrapper .right
{
    background-color:#fddbaa;
    display: table;


}

    .wrapper .left,
    .wrapper .right
    {
        width: 100%;
        height: 50vh;
    
    }
    img
    {
        margin-left: auto;
        margin-right: auto;
        display: block;
        transform: translateY(35px);
        animation-name:lightSpeedInLeft;
        animation-duration: 2s;
        position: relative;
        top: 0px;
        height:70%;
        width: 30%;
    }

     /* font styling */
  h2{
	font-family: 'Fjalla One', sans-serif;
	color: black;
	text-align: center;
    height: 50px;

}
p{
	font-family: 'Gloria Hallelujah', cursive;
	color: red;
	text-align: center;
	line-height: 80px
}
h6{
	font-family: 'Fjalla One', sans-serif;
	color: black;
	text-align: center;
	line-height: 40px;
	background-color: white;
	width: 500px;
	margin: auto;
	align-items: center;
    transform: translateY(15%);
    border: 5px solid #ebd1ad;
}   
.top-center{
	align-items: center;
    transform: translateY(-30%);
    padding-top: 30%;
    
}
    

.btn{

	border-radius: 3px;
	font-family: 'Poiret One', cursive;
	width: 300px;

} 
.btn-primary{
	background-color: #F05F44;
	border-color: #F05F44;
}
.btn-primary:hover{
	background-color: red;
	cursor: pointer;
	border-color: white;
}
.padding{
	position: relative;
  text-align: center;
    top: 70px;
    margin-left: 140pt;

}

@media screen and(max-width:660px)
{ body{
    min-width: none;
    min-height: auto;
}
    
}
@media screen and (min-width:1200px)
{

    .wrapper
    {
        display: flex;
        position: relative;
    
    }

    .wrapper .left,
    .wrapper .right
    {
        width: 50%;
        height: 100vh;
    }

}
